<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="CabinGPT" />
    <meta property="og:title" content="CabinGPT Demo" />
    <meta
      property="og:url"
      content="https://johnatas-henrique.github.io/fake-racer/"
    />
    <meta property="og:description" content="CabinGPT" />
    <meta property="og:image" content="https://i.imgur.com/XMPnLHm.png" />
    <meta property="og:type" content="game" />
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <title>CabinGPT</title>
  </head>

  <body translate="no">
    <div class="container">
      <ul id="info">
        <button
          id="pauseBtn"
          class="interfaceBtn pause hidden"
          name="p"
        ></button>
        <button id="fullScreenBtn" class="interfaceBtn" name="fullscreenbtn">
          <img
            class="img100"
            src="{{ url_for('static', filename='images/sprites/other/fullscreen.png') }}"
          />
        </button>
        <span id="mute" class="mute hidden"></span>
      </ul>

      <video id="space" width="100%" height="100%" class="hidden">
        <source
          src="{{ url_for('static', filename='video/space.mp4') }}"
          type="video/mp4"
        />
        Your browser does not support the video tag.
      </video>

      <video id="streetview" width="100%" height="100%" class="hidden">
        <source
          src="{{ url_for('static', filename='video/Prototype_City.mp4') }}"
          type="video/mp4"
        />
        Your browser does not support the video tag.
      </video>

      <canvas id="gameCanvas" width="3840" height="2160"></canvas>
    </div>

    <audio id="menuMusic">
      <source
        src="{{ url_for('static', filename='music/future_music.mp3') }}"
      />
    </audio>

    <audio id="blueSky">
      <source src="{{ url_for('static', filename='music/blueSky.mp3') }}" />
    </audio>

    <script src="{{ url_for('static', filename='js/stats.js') }}"></script>
    <script
      type="module"
      src="{{ url_for('static', filename='js/main.js') }}"
    ></script>
    <script>
      var arrowKeysURL =
        "{{ url_for('static', filename='images/sprites/other/arrowKeys.png') }}";
      var enterKeyURL =
        "{{ url_for('static', filename='images/sprites/other/enterKey.png') }}";
    </script>
    <script src="{{ url_for('static', filename='js/bundle.js') }}"></script>
  </body>
</html>
